@model List<WebApplication4.Models.PurchaseOrder>

@{
    ViewData["Title"] = "Index";
}

<h1>Orders Index</h1>

<a asp-action="Create" asp-controller="Orders" class="btn btn-primary btn-lg mt-3 mb-3">Create</a>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">Customer</th>
            <th scope="col">Delivery Date</th>
            <th scope="col">Status</th>
            <th scope="col">Amount Due</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.CustomerID)</td>
                <td>@Html.DisplayFor(modelItem => item.DateOfDelivery)</td>
                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                <td>@Html.DisplayFor(modelItem => item.AmountDue)</td>
                <td class="text-center">
                    <a asp-action="Edit" asp-controller="Orders" asp-route-id="@item.ID">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>